@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  background-color: rgba(128, 128, 128, 0.35);
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Montserrat, sans-serif;
}
